<%= render 'shared/search' %>
<p>
<% if @location %>
  Here are gyms near '<%= @location %>':
<% else %>
  Here are gyms near you:
<% end %>
</p>



<% @gyms.each do |gym| %>
  <%= gym['name'] %><br>
  <%= gym['vicinity'] %>
  <%= link_to 'Details', gym_path(gym), class: 'btn btn-primary' %><br><br>
<% end %>

