<h1><%= @gym.vicinity %></h1>
<p><%= @gym.name %></p>
<p>Rating: <%= @gym.rating %></p>
<hr>
<h2>Equipment</h2>
<%= link_to 'Update Equipment List', edit_gym_path, class: "btn btn-success text-white"%>



<br>
<% if @gym.equipments.present? %>
  <% @gym.equipments.each do |equipment| %>
    <%= equipment.name %><br>
  <% end  %>
<% else %>
No machines added yet
<% end %>
